<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="humanBean" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="FName" value="john" />
    <property name="LName" value="erbynn" />
</bean>

<bean id="bestie" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="FName" value="peter" />
    <property name="LName" value="arthur" />
    <property name="Friend" ref="friend"/>
</bean>

<bean id="friend" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="FName" value="tetteh" />
    <property name="LName" value="norther" />
</bean>


</beans>

