<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="humanBean" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="FName" value="john" />
    <property name="LName" value="erbynn" />
    <property name="BestFriend" ref="friend"/>
</bean>

<bean id="friend" class="io.turntabl.springgettingstarted.HumanBean">
    <property name="FName" value="kojo" />
    <property name="LName" value="fosu" />
</bean>
       
 /*
 using constructor-arg config
<bean id="humanBean" class="io.turntabl.springgettingstarted.HumanBean">
    <constructor-arg value="john" />
    <constructor-arg value="erbynn" />
    <constructor-arg ref="friend"/>
</bean>
 */


</beans>

